name: update awesome-stars
on:
  schedule:
  - cron: 30 0 * * *
  workflow_dispatch:
jobs:
  awesome-stars:
    name: update awesome-stars
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.13
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install starred
    - name: update repo
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: starred --username wfxr --repository awesome-stars --sort --token ${GITHUB_TOKEN} --message 'stars update by github actions cron'
